# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/

# Other files and folders
.settings/

# Executables
*.swf
*.air
*.ipa
*.apk

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
docker_env/nginx/nginx.conf
*/.idea
dvadmin-doc/docs/.vuepress/dist
application/config/development.py
application/config/production.py
alembic.ini
.idea
__pycache__
logs/
!logs/.gitkeep
utils/xhs/Download
static/system
utils/task/logs
.env.dev
.env.prod
.env.docker
static/*
docker-compose.yaml
alembic/versions_dev
alembic/versions_pro
vf_admin
.venv
